<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10,IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/login.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/login.js"></script>

</head>
<body>
    <header>
        <img src="~/Content/images/FinisarLogo.jpg" class="login-logo" width="300" height="60">
    </header>
    <div>
        <img src="~/Content/images/home.png" class="home-bg">
    </div>
    @RenderBody()
    <footer class="footer-text">
        <p>&copy; @DateTime.Now.Year - Amazon</p>
    </footer>
</body>
</html>