html,body{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    margin-top: 5% !important;
    padding-top: 10px !important;
}

.div-nav{
    background-color: white;
    border-color: #5B9BD5;
    height: 85px;
    margin-bottom: 0px;
    border-bottom-width: 0px!important;
}

.nav-content{
    background-color: white;
    border-color: #5B9BD5;
}

.logo{
    margin-left: 20px;
}

.div-navlink{
    margin-bottom: 0px;
    margin-top: 30px;
    min-width: 1200px;
}
.div-nav-right{
    float: right;
    margin-right: 10%;
}

.glyphicon{
    font-size: 16px;
    width: 2%;
}

.body-content{
    margin-top: 1%;
}

#jsmind_container{
    width: 100%;
    height: 300px;
    border: solid 1px #ccc;
    margin-bottom: 2%;
    border-radius: 6px;
}

.js-operation{
    margin-top: 1%;
}
.js-operation .left{
    width: 50%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #F5F5F5;
}

.node-op, .nwf-op{
    width: 150px;
    margin-right: 2%;
}

/* show workflow template */


.wf-list-detail{
    height: 200px;
    border: solid 1px #ccc;
    margin-bottom: 2%;
    border-radius: 6px;
}

.jsmind_container{
    height: 200px;
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color: #aaa;
}

.wf-type{
    float: right;
    width: 30%;
    margin-bottom: 1%;
}

.swf-info label,span{
    margin-top: 2%;
    margin-bottom: 2%;
}

.swf-op{
    padding-left: 15px;
}

.edit-swf-op, .del-swf-op{
    margin-top: 2%;
    margin-right: 2%;
}

.bc-content{
    padding: 0;
}

.jc-span-v{
    height: 20px;
    padding: 2px 5px;
    color: #fff;
    background-color: #f0ad4e;
}

.jc-span-d{
    height: 30px;
    padding: 2px 5px;
    color: #fff;
    background-color: #337ab7;
}
.jc, .jc_detail{
    margin-top: -32px;
}

.jc_view{
    margin-top: -20px;
}


.wf-list-op{
    margin-bottom: 2%;
}

.padding-gap{
    padding-left: 0;
    padding-right: 0;
}

.wfe-table{
    margin-bottom: 10px;
}

.wfe-table tbody tr td{
    border-top: 0;
}

.view-wfe-op, .del-wfe-op{
    margin-right: 2%;
}

.span-zoom{
    cursor: pointer;
    height: 30px;
    color: #7f7f7f;
    margin-top: 2px;
    z-index: 1000;
}

.span-zoom-in{
    margin-left: 90%;
}

.d-span-zoom-in{
    margin-left: 80%;
}

.span-zoom-out{
    margin-left: 1%;
}

/* node detail */
.wfn-content{
    border-left: 1px dashed #aaa;
}

.wfn-view{
    border-bottom: 1px dashed #aaa;
}

#wfn-jc-detai{
    height: 200px;
}

.wfn-detail{
    margin-left: 1%;
    margin-top: 2%;
}

.wfn-comment{
    margin-left: 1%;
    margin-top: 1%;
}

.wfn-op{
    float: right;
}

.btn-op{
    width: 120px;
    margin-top: 2%;
}

/* for node detail */
.wfn-current{
    margin-left: 1%;
    margin-top: 2%;
}
.wfn-next{
    margin: 2% auto 2% 1%;
    border-bottom: 1px dashed #aaa;
}

.next-steps{
    display: inline-block;
    width: 60%;
}

.logic-select{
    margin-bottom: 2%;
}

.status-op{
    cursor: pointer;
    font-size: 18px;
}

.status-done{
    font-size: 18px;
}

.n-step-start{
    float: right;
    color: #ec971f;
    margin: 0;
}

.n-step-working{
    float: right;
    color: #71d129;
    margin: 0;
}
