html, body {
    margin: 0px;
    height: 100%;
}

.login-logo {
    margin-top: 3%;
    margin-left: 5%;
}

.home-bg {
    width: 100%;
    margin-top: 5%;
    height: 400px;
    z-index: 0;
}

.content {
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
}

.login-welcome {
    color: #fff;
    margin-left: 5%;
    margin-top: 8%;
}

.wel-span1 {
    margin-left: 5%;
    padding-top: 10%;
    font-size: 48px;
    font-weight: bold;
}

.wel-span2 {
    margin-left: 5%;
    padding-top: 2%;
    font-size: 64px;
    font-weight: bold;
}


.login-form-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    min-height: 300px;
    margin-top: 13%;
    margin-right: 5%;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.5;
    z-index: 1;
}

.login-form {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    min-height: 300px;
    margin-top: 13%;
    margin-right: 5%;
    padding-top: 50px;
    z-index: 2;
}

.login-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-top: -5%;
}

.login-input {
    height: 45px;
    width: 90%;
    margin: 2% 5%;
    border-radius: 4px;
}

.login-btn {
    opacity: 1;
    width: 90%;
    height: 40px;
    margin: 2% 5%;
    border-radius: 4px;
}

.login-btn:hover {
    background-color: #00539F;
    opacity: 0.8;
    color: #fff;
}

.login-checkbox {
    margin-left: 5% !important;
}

.remember-me {
    font-size: 10px;
    margin-left: 2%;
}

.div-forget-pwd {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.forget-pwd {
    font-size: 10px;
    text-decoration: underline;
}

.forget-pwd:hover {
    color: #00539F;
}

.footer-text{
    text-align: center;
    margin-top: 2%;
}
