@model IEnumerable<Amazon.Models.WorkFlowTemplateVM>

@{
    ViewBag.Title = "CreateWorkFlowTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = "";
}

<ol class="breadcrumb">
    <li><a href="/WorkFlowTemplate/AllWorkFlowTemplate">WorkFlow Template</a></li>
    <li class="active">Create WorkFlow Template</li>
</ol>

<script type="text/javascript" src="~/Scripts/workflowtemplate.js"></script>

@if (Model != null && Model.Count() > 0)
{
    username = Model.ElementAt(0).WFTID;
}

<script type="text/javascript">
        $(function(){
            WorkFlowTemplate.init('@(username)');
        })
</script>
<div class="padding-gap">
    <i class="glyphicon glyphicon-zoom-in span-zoom span-zoom-in"></i>
    <i class="glyphicon glyphicon-zoom-out span-zoom span-zoom-out"></i>
    <div id="jsmind_container" class="jc"></div>
</div>

<div class="js-operation">
    <div class="row form-group">
        <label class="col-xs-2">WorkFlowType</label>
        <div class="col-xs-5">
            <input type="text" class="form-control autocomplete-input"
                   id="wf-type" name="wf-type" placeholder="Please choose one workflow type">
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-2">StepList</label>
        <div class="col-xs-5">
            <input type="text" class="form-control autocomplete-input"
                   id="wf-node" name="wf-node" autocomplete="off">
        </div>
        <div class="route-list hidden">
            <label class="col-xs-1">RouteList</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="route-list"
                       name="route-list" readonly>
            </div>
            <div class="hidden" id="node-route-list">
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div style="margin-left: 2%">
            <input type="button" class="btn btn-danger node-op"
                   id="del-wf-node" name="del-wf-node" value="Delete a node">
            <input type="button" class="btn btn-success node-op"
                   id="add-wf-node" name="add-wf-node" value="Add a node">
        </div>
    </div>
    <hr />
    <div>
        <div class="row form-group">
            <label class="col-xs-2">NewWorkFlowName</label>
            <div class="col-xs-5">
                <input type="text" class="form-control"
                       id="nwf-name" name="nwf-name" placeholder="Please enter your new workflow name">
            </div>
        </div>
        <div class="row form-group nwf-operation">
            <div style="margin-left: 2%">
                <input type="button" class="btn btn-warning nwf-op"
                       id="save-nwf" name="save-nwf" value="Cache">
                <input type="button" class="btn btn-success nwf-op"
                       id="sumbit-nwf" name="sumbit-nwf" value="Submit">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-route-list" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Choose Route List</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>RouteLists</label>
                    <input type="text" class="form-control autocomplete-input"
                           id="m-route" name="m-route" autocomplete="off">
                </div>
                <div>
                    <label>Selected Steps</label>
                    <select class="form-control m-selected-routes"
                            id="m-selected-routes" name="m-selected-routes" multiple></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning m-btn-cancel">Close</button>
                <button type="button" class="btn btn-primary m-btn-add">Add</button>
            </div>
        </div>
    </div>
</div>